<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Strategise Your Life</title>
  </head>
  <body style="background: grey">
    <div class="text-center" style="background: #202020">
      <h1 style="color: white;">Key Areas of Life 2x2 Matrix</h1>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col" style="margin-bottom: 10px; color: white;">
            Satisfaction: How satisfied are you with each unit.<br />
            Importance: How important is each unit to you.
          </div>
          <div class="col d-flex justify-content-center align-items-center">
            <a href="/download_csv">
              <button class="btn btn-info">Download Data</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="margin-top: 10px;">
      <div class="row justify-content-center">
        <div class="col-xs-" style="background: white">
          <div class="table_container">
            {% block table_content %} {% endblock %}
          </div>
        </div>
        <div class="col-xs-" style="background: white">
          <div class="visual_container">
            {% block visual_content %} {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-bottom" style="background: #202020; color: white; text-align: center; height: 30px;">
      The idea for this tool came from the <a href="https://hbr.org/2023/12/use-strategic-thinking-to-create-the-life-you-want">HBR article Strategise Your Life</a>.
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
