{% extends "base.html" %} 
{% block title %}Strategise Your Life{% endblock %}

{% block table_content %}
<form method="POST">
  <h3 align="center">table for capturing all the user data</h3>
  {{ form.csrf_token }}
  {{ form.strategicLifeUnits }}
  <ul>
    {% for error in form.strategicLifeUnits.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <div>
    {{ form.satisfaction }}
  </div>
  <div>
    {{ form.importance }}
  </div>
  <div>
    {{ form.timeInvested }}
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}

{% block visual_content %}
<h3 align="center">visual of the data captured above</h3>
<img src="../static/visual.png" alt="">
{% endblock %}