{% extends "base.html" %} 
{% block title %}Strategise Your Life{% endblock %}

{% block table_content %}
<form method="POST">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Strategic Life Unit</th>
        <th>Satisfaction</th>
        <th>Importance</th>
        <th>Time Invested (Weekly)</th>
      </tr>
    </thead>
    <tbody>
      {% for strategicLifeUnit, simpleForm, tableCellColour in zip(strategicLifeUnits, form.simpleForm, tableCellColour) %}
      <tr bgcolor = {{ tableCellColour }}>
        <td>{{ strategicLifeUnit }}</td>
        <td>{{ simpleForm.satisfaction }}</td>
        <td>{{ simpleForm.importance }}</td>
        <td>{{ simpleForm.timeInvested }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total: {{ timeTotal }} / 168</td>
      </tr>
    </tbody>
  </table>
  {{ form.submit }}
</form>
{% endblock %}

{% block visual_content %}
<img src="../static/visual.png" alt="">
<div>
  <ul>
    <li>Top right: Keep spending time on these.</li> 
    <li>Top left: Need more focus urgently.</li> 
    <li>Bottom right: When you have time focus here.</li> 
    <li>Bottom left: Make sure time is not being wasted here.</li> 
  </ul>
</div>
{% endblock %}